* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.frame {
  border: 5px solid white;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.hand {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform-origin: right bottom;
  border-right: 2px solid red;
  transition: all 0.05s;
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  -ms-transition: all 0.05s;
  -o-transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hours{
height:70px;
}
.minutes{
height:90px;}
.seconds{
height:110px;
}
